{% extends "registration/base.html" %}


<!------ Include the above in your HEAD tag ---------->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-7 col-md-offset-3">
            <div class="panel panel-primary align-middle">
                <div class="panel-heading">Sign up for Softvision - Software Testing 6.0 Workshop</div>
                <div class="panel-body">
                    <form action="{% url 'registration:register' %}" method="post">
                        {% csrf_token %}

                        <!--<div class="form-group">-->
                        <!--{{ form.first_name.label }}-->
                        <!--{{ form.first_name }}-->
                        <!--</div>-->
                        <div class="form-group">
                            <strong class="control-label">{{ form.first_name.label }}</strong>
							{{ form.first_name }}
						</div>
                        <div class="form-group">
                            <strong class="control-label">{{ form.last_name.label }}</strong>
							{{ form.last_name }}
                        </div>
						<div class="form-group">
                            <strong class="control-label">{{ form.email.label }}</strong>
							{{ form.email }}
                        </div>
                        <div class="form-group">
                            <label class="float-left control-label">Did you previously attend one of our courses?</label>
                            <div class="btn-group btn-group-toggle pull-right" data-toggle="buttons">
                                {% for choice in form.previous_attend %}
                                <label class="btn btn-secondary" style="margin-right: 2px;">
                                    {{ choice }}
                                </label>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="float-left control-label">Do you have a personal laptop that you can bring to our meetings?</label>
							<div class="btn-group btn-group-toggle pull-right" data-toggle="buttons">
                                {% for choice in form.laptop %}
                                <label class="btn btn-secondary" style="margin-right: 2px;">
                                    {{ choice }}
                                </label>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
							<label class="float-left control-label">Which of the following days is convenient for you</label>
							<div class="btn-group pull-right" data-toggle="buttons">
                                <label class="btn btn-secondary" style="margin-right: 2px;">
                                {{ form.day1 }} Tuesday
                              </label>
                              <label class="btn btn-secondary" style="margin-right: 2px;">
                                {{ form.day2 }} Thursday
                              </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <strong class="control-label">{{ form.occupation.label }}</strong>
							{{ form.occupation }}
                        </div>
                        <div class="form-group">
                            <strong class="control-label">{{ form.course_referral.label }}</strong>
							{{ form.course_referral }}
						</div>
                        <div class="form-group">
                            <strong class="control-label">{{ form.motivation.label }}</strong>
							{{ form.motivation }}
                        </div>
                        <div class="form-group">
                            <p class="control-label2">All the questions are mandatory. Please answer in English!</p>
                        </div>




						<!--<div class="form-group">-->
							<!--<label for="fname">First Name</label>-->
							<!--<input type="text" id="fname" class="form-control" name="fname">-->
						<!--</div>-->
                        <!--<div class="form-group">-->
							<!--<label for="lname">Last Name</label>-->
							<!--<input type="text" id="lname" class="form-control" name="lname">-->
                        <!--</div>-->
						<!--<div class="form-group">-->
							<!--<label for="emailaddr">Email Address</label>-->
							<!--<input type="email" id="emailaddr" class="form-control" name="email">-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
							<!--<label class="float-left">Select the convenient day(s) to attend</label>-->
							<!--<div class="btn-group pull-right" data-toggle="buttons">-->
                              <!--<label class="btn btn-primary">-->
                                <!--<input type="checkbox" autocomplete="off" name="day1"> Tuesday-->
                              <!--</label>-->
                              <!--<label class="btn btn-primary">-->
                                <!--<input type="checkbox" autocomplete="off" name="day2"> Thursday-->
                              <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
						<div class="form-group text-center">
							<button type="submit" class="btn btn-primary btn-lg" id="submitbtn" name="submit">Submit!</button>
                        </div>
                        <script>
                            var checkBoxes = $('.mycheckboxes');
                            checkBoxes.change(function () {
                                $('#submitbtn').prop('disabled', checkBoxes.filter(':checked').length < 1);
                            });
                            checkBoxes.change(); // or add disabled="true" in the HTML

                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}